<div class="footer-content">
  {{> navbar}}
  <div class="footer-info">
    <div class="logo_socials_copyright_offer-info">
      <div class="logo_socials-info">
        <div class="footer-logo">
          <img src="/public/img/logo.png" alt="bloodborne-logo">
        </div>
        <div class="socials">
          <a href="https://vk.com/id_andreykharebov"><i class="fab fa-vk"></i></a>
        </div>
      </div>
      <div class="copyright_offer-info">
        <div class="copyright">
          <p>© 2020, Bloodborne-shop</p>
        </div>
        <div class="offer">
          <a href="/">
            <h4>Публичная оферта</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="email_time_payments-info">
      <div class="email_time-info">
        <div class="email-info">
          <h4>E-mail:</h4>
          <p>bloodbornetest@gmail.com</p>
        </div>
        <div class="time-info">
          <h4>Время работы сна охотника:</h4>
          <p>ПН-ВС: 20:00 - 5:00</p>
        </div>
      </div>
      <div class="payments-info">
        <h4>Принимаем к оплате:</h4>
        <img src="/public/img/bloodechoes.png" alt="bloodechoes">
      </div>
    </div>
  </div>
  <div class="inspiration">
    <h4>Автор вдохновлялся магазином вещей <a href="https://jolybell.com/">JolyBell.com</a></h4>
  </div>
</div>

<div class="cart-modal">
  <div class="continue">
    <img src="/public/img/leftarrow.png" alt="continue">
    <p>Продолжить покупки</p>
  </div>
  <div class="purchases">
    <p class="myPurchases">Мои покупки</p>
    <div class="purchases-list">
    </div>
  </div>
  <div class="promotional">
    <p>Промокод</p>
    <input type="text">
    <button>Применить</button>
  </div>
  <hr>
  <div class="cart-info">
    <div class="products-cost">
      <p>Общая стоимость:</p>
      <p class="price total-price"></p>
      <p>Стоимость доставки:</p>
      <p class="price delivery-price"></p>
    </div>

    <div class="total-cost">
      <p>Итого:</p>
      <p class="price total-modal-cost"></p>
    </div>
  </div>
  <div class="make-an-order">
    <input type="hidden" id="csrf" name="_csrf" value="{{csrf}}">
  </div>
</div>

<div class="modal-bg">
  <div class="login-modal">
    <form class="login-form" action="/auth/login" method="POST">
      <div class="login-info">
        <p class="p-input">Эл. почта</p>
        <input type="text" name="email" required>
        <p class="p-input">Пароль</p>
        <input type="password" name="password" required>
      </div>
      <div class="remember-forgot">
        <label class="remember">Запомнить
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <div class="forgot">
          <p>Забыли пароль?</p>
        </div>
      </div>
      <div class="login-btn">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit" data-csrf="{{csrf}}">Войти <span>&#8640;</span></button>
      </div>
    </form>
    <div class="login-through">
      <p>Войти через:</p>
      <div class="socials">
        <p><i class="fab fa-google"></i></p>
        <p><i class="fab fa-vk"></i></p>
      </div>
    </div>
    <div class="or">
      <hr>
      <p>или</p>
    </div>
    <div class="fast-registration">
      <p>Быстрая регистрация</p>
    </div>
    <div class="close-modal-btn" data-modal="login">
      <p class="close"></p>
    </div>
  </div>
  <div class="forgot-modal">
    <div class="forgot-text">
      <h3>Восстановление пароля</h3>
      <p>Введите e-mail и мы пришлём ссылку для восстановления пароля.</p>
    </div>
    <form action="/auth/reset" method="post">
      <div class="forgot-info">
        <p class="p-input">Эл. почта</p>
        <input type="text" name="email">
      </div>
      <div class="forgot-buttons">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit">Восстановить пароль</button>
        <p class="canceling">Отмена</p>
      </div>
    </form>
    <div class="close-modal-btn" data-modal="forgot">
      <p class="close"></p>
    </div>
  </div>
  <div class="registration-modal">
    <form action="/auth/register" method="POST">
      <div class="heading">
        <hr>
        <h3>Регистрация</h3>
      </div>
      <div class="registration-info">
        <p class="p-input">Эл. почта</p>
        <input type="text" name="email">
        <p class="p-input">Пароль</p>
        <input type="password" name="password">
        <p class="p-input">Подтвердите пароль</p>
        <input type="password" name="confirm">
      </div>
      <div class="registration-btn">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit">Зарегистрироваться <span>&#8640;</span></button>
      </div>
    </form>
    <div class="registration-through">
      <p>Зарегистрироваться через:</p>
      <div class="socials">
        <p><i class="fab fa-google"></i></p>
        <p><i class="fab fa-vk"></i></p>
      </div>
    </div>
    <div class="or">
      <hr>
      <p>или</p>
    </div>
    <div class="registration-login">
      <p>Войти</p>
    </div>
    <div class="close-modal-btn" data-modal="registration">
      <p class="close"></p>
    </div>
  </div>
  <div class="status-check-modal">
    <div class="heading">
      <hr>
      <h3>Статус заказа</h3>
    </div>
    <form action="#" method="post">
      <div class="order-number">
        <p class="p-input">Номер заказа</p>
        <input type="text" name="email">
      </div>
      <div class="check-status-btn">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button id="bl" type="button">Найти заказ <span>&#8640;</span></button>
      </div>
    </form>
    <div class="close-modal-btn" data-modal="check-status">
      <p class="close"></p>
    </div>
  </div>
  <div class="status-check-order">

  </div>
  <div class="recommended-modal">
    <div class="recommended-section">

    </div>
    <div class="close-modal-btn" data-modal="recommended">
      <p class="close"></p>
    </div>
  </div>
</div>

<div class="flash-message">
  <p></p>
  <div class="close-flash-btn" data-modal="flash-message">
    <p class="close-flash"></p>
  </div>
  <div class="flash-progress-bar"></div>
</div>

<script src="/public/app.js"></script>