<div class="admin-catalog-panel">
  <div class="panel-heading">
    <div class="panel-heading-logo">
      <i class="material-icons">folder</i>
    </div>
    <div class="panel-heading-text">
      <h1>Каталог</h1>
    </div>
  </div>
  <div class="admin-catalog-plates">
    <div class="first-plate">
      <p class="icon"><i class="material-icons">search</i></p>
      <div class="search-by">
        <div class="search-by-id-number">
          <label>Артикул</label>
          <input type="number" id="search-by-product-id">
        </div>
        <div class="search-by-title">
          <label>Название</label>
          <input type="text" id="search-by-product-title">
        </div>
      </div>
    </div>
    <div class="second-plate">
      <p class="icon"><i class="material-icons">folder</i></p>
      <div class="plate-catalog-info">
        <p class="plate-catalog-name"><span></span></p>
        <hr>
        <div class="plate-catalog-item-info">
          <div class="plate-catalog-item-img">
          </div>
          <div class="plate-catalog-item-text">
            <p>Стоимость: <span class="plate-price"></span></p>
            <p>Остаток: <span class="plate-quantity"></span></p>
          </div>
          <div class="plate-catalog-item-residue">
            <p>Размер: <span>S</span> <span>99 шт</span></p>
            <p>Размер: <span>M</span> <span>99 шт</span></p>
            <p>Размер: <span>L</span> <span>99 шт</span></p>
            <p>Размер: <span>XL</span> <span>99 шт</span></p>
            <p>Размер: <span>2XL</span> <span>99 шт</span></p>
            <p>Размер: <span>3XL</span> <span>99 шт</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-home-panel">
    <table class="search-catalog-items">
      <thead>
        <tr>
          <th>Артикул</th>
          <th>Название</th>
          <th>Остаток</th>
          <th>Стоимость</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="home-panel">
    <h2>Каталог</h2>
    <div class="add-product-btn">
      <a href="/admin/product/add"><button class="status passing">Добавить</button></a>
    </div>
    <div class="catalog-tabs">
      {{#each categories}}
      <button class="category-tab">{{title}}</button>
      {{/each}}
    </div>
    {{#each categories}}
    <table class="home-panel-table">
      <thead>
        <tr>
          <th>Артикул</th>
          <th>Название</th>
          <th>Остаток</th>
          <th>Стоимость</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {{#if products}}
        {{#each products}}
        <tr class="item-row">
          <td class="productId">{{id}}</td>
          <td class="productTitle">{{title}}</td>
          <td class="productQuantity">99</td>
          <td class="productPrice">{{price}}</td>
          <td>
            <div class="td-element">
              <a href="/admin/product/{{id}}/edit"><button class="status passing">Изменить</button></a>
            </div>
            <div class="td-element">
              <form action="/admin/product/{{id}}/remove" method="POST">
                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                <input type="hidden" name="id" value="{{id}}">
                <button typa="submit" class="status passing">Удалить</button>
              </form>
            </div>

          </td>
          <input id="imageUrl" type="hidden" name="img" value="/{{imageUrl}}">
        </tr>
        {{/each}}
        {{else}}
        <p>Здесь пока нет ни одного продукта</p>
        {{/if}}
      <tbody>
    </table>
    {{/each}}
  </div>
</div>