<div class="admin-home-panel">
  <div class="panel-heading">
    <div class="panel-heading-logo">
      <i class="material-icons">home</i>
    </div>
    <div class="panel-heading-text">
      <h1>Дашборд</h1>
    </div>
  </div>
  <div class="admin-home-plates">
    <div class="first-plate">
      <p class="icon"><i class="material-icons">event_note</i></p>
      <p class="plate-title">Заказы (мес.)</p>
      <p class="plate-p">{{monthOrdersQuantity.increase}}</p>
      <p class="plate-result">Увеличение на {{monthOrdersQuantity.percents}}%</p>
    </div>
    <div class="second-plate">
      <p class="icon"><i class="material-icons">euro_symbol</i></p>
      <p class="plate-title">Выручка (мес.)</p>
      <p class="plate-p">+179000</p>
      <p class="plate-result">Увеличение на 10%</p>
    </div>
    <div class="third-plate">
      <p class="icon"><i class="material-icons">group_add</i></p>
      <p class="plate-title">Пользователи (мес.)</p>
      <p class="plate-p">{{monthUsersQuantity.increase}}</p>
      <p class="plate-result">Увеличение на {{monthUsersQuantity.percents}}%</p>
    </div>
  </div>
  <div class="home-panel">
    <h2>Новые заказы</h2>
    <table class="home-panel-table">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Email</th>
          <th>Тел. номер</th>
          <th>Стоимость</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {{#each lastOrders}}
        <tr>
          <td>{{name}} {{surname}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{totalCost}}</td>
          <td>
            <div class="td-element">
              <button class="status {{status}}">{{status}}</button>
            </div>
            <div class="td-element">
              <a href="/admin/order/{{id}}"><button class="status passing">Перейти</button></a>
            </div>
          </td>
        </tr>
        {{/each}}
      <tbody>
    </table>
  </div>
</div>