<div class="category">
  {{#if category}}
  <h1>{{category.title}}</h1>
  <div class="product-list">
    {{#if products.length}}
    {{#each products}}
      <div class="product">
        <a href="/products/{{id}}">
          <div class="product-cover">
            <img src="/{{imageUrl}}" alt="{{title}}">
          </div>
          <div class="product-title">{{title}}</div>
          <div class="product-price">{{price}}</div>
          <div class="more">Подробнеe <span>&#8640;</span></div>
        </a>
        {{#if @root.isAdmin}}
        <div class="edit_delete">
          <a href="/admin/product/{{id}}/edit"><button class="product-edit"><i class="far fa-edit"></i></button></a>
          <form action="/admin/product/{{id}}/remove" method="POST">
            <input type="hidden" name="_csrf" value="{{@root.csrf}}">
            <input type="hidden" name="id" value="{{product.id}}">
            <button class="product-delete"><i class="far fa-trash-alt"></i></button>
          </form>
        </div>
        {{/if}}
      </div>
    {{/each}}
    {{else}}
      <p>Здесь пока нет ни одного продукта</p>
    {{/if}}
  </div>
  {{/if}}
</div>