<div class="order-details">
  <h1>Заказ успешно создан</h1>
  <p class="p-details">Номер заказа: <span class="order-number">{{order.id}}</span></p>

  <div class="order-section">
    <div class="delivery-info">
      <h2>Данные для доставки</h2>
      <div class="delivery-info-list">
        <div class="input-field">
          <p class="p-input">Имя: <span class="info">{{order.name}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Фамилия: <span class="info">{{order.surname}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Отчество: <span class="info">{{order.patronymic}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Телефон: <span class="info">{{order.phone}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Эл. Почта: <span class="info">{{order.email}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Страна: <span class="info">{{order.country}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Город: <span class="info">{{order.town}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Край/Область/Регион: <span class="info">{{order.region}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Улица, Дом, Квартира: <span class="info">{{order.address}}</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Почтовый индекс: <span class="info">{{order.zipcode}}</span></p>
        </div>
        <hr>
        <div class="input-field">
          <p class="p-input">Общая стоимость: <span class="info">{{order.totalPrice}} отг. к.</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Стоимость доставки: <span class="info">{{order.deliveryPrice}} отг. к.</span></p>
        </div>
        <div class="input-field">
          <p class="p-input">Итого: <span class="info">{{order.totalCost}} отг. к.</span></p>
        </div>
        <div class="continue-section">
          <a href="/"><button type="submit">На главную <span>&#8640;</span></button></a>
          <div class="continue-part">
            <p class="p-part">Этап 2 <span class="span-part">из 2</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>