<h4>Редактировать продукт: '{{product.title}}'</h4>

<form action="/products/edit" method="post" enctype="multipart/form-data">
  <div>
    <div class="input-field col s6">
      <input id="title" name="title" type="text" class="validate" required value="{{product.title}}">
      <label for="title">Название</label>
      <span class="helper-text" data-error="Введите название"></span>
    </div>

    {{#if categories}}
    <div class="input-field col s6">
      <select name="categoryId">
        <option value="{{@root.product.categoryId}}" disabled selected>{{category.title}}</option>
        {{#each categories}}
          <option value="{{id}}">{{title}}</option>
        {{/each}}
      </select>
      <label>Категория</label>
    </div>
    {{/if}}

    <div class="input-field col s6">
      <input id="price" name="price" type="number" class="validate" required value="{{product.price}}">
      <label for="price">Стоимость</label>
      <span class="helper-text" data-error="Введите стоимость"></span>
    </div>

    <div class="file-field input-field col s6">
      <div class="btn">
        <span>Файл</span>
        <input id="image" name="image" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" value="{{product.imageUrl}}">
      </div>
    </div>

    <div class="input-field col s6">
      <textarea id="description" name="description" class="materialize-textarea">{{product.description}}</textarea>
      <label for="description">Описание</label>
    </div>

    <input type="hidden" id="csrf" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{product.id}}">
    <button type="submit" class="btn">Редактировать</button>
  </div>
</form>