<div class="profile">
  <h1>Мои заказы</h1>
  <div class="profile-list">
    <div class="profile-list-menu">
      <div class="profile-list-menu-block">
        {{#if isMyProfile}}
        <a href="/profile" class="active">Личные данные</a>
        {{else}}
        <a href="/profile">Личные данные</a>
        {{/if}}

        {{#if isMyOrders}}
        <a href="/profile/orders" class="active">Мои заказы</a>
        {{else}}
        <a href="/profile/orders">Мои заказы</a>
        {{/if}}
      </div>
      <div class="profile-list-menu-exit">
        <a href="/auth/logout"><button>Выйти</button></a>
      </div>
    </div>
    <div class="profile-list-info">
      <div class="profile-list-orders">
        {{#if orders.length}}
          {{#each orders}}
            <div class="order-card">
            <div class="card-content">
              <span class="card-title">
                Заказ: {{id}}
              </span>

              <p class="date">{{createdAt}}</p>
              <p><em>{{@root.user.name}} {{@root.user.surname}}</em> <small>({{@root.user.email}})</small></p>

              <ol>
                {{#each orderItems}} 
                  <li>{{title}} (<strong>{{size}}</strong> x <strong>{{quantity}}</strong>)</li>
                {{/each}} 
              </ol>

              <hr>

              <p>Общая стоимость: <span class="price">{{totalPrice}} отг. к.</span></p>
              <p>Стоимость доставки: <span class="price">{{deliveryPrice}} отг. к.</span></p>
              <p>Итого: <span class="price">{{totalCost}} отг. к.</span></p>

            </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>